.attractions {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.attraction {
    width: 100%;
}

.attraction h3 {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
}

.attr-img {
    object-fit: contain;
    max-width: 350px;
}